body {
  background-color: #f2f2f2;
}

/* CSS Flexbox layout */

.flexbox-wrapper {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.flexbox {
  display: flex;
  flex-direction: row;
  align-items: center;

  width: 730px;

  border-radius: 5px;
  overflow: hidden;
}

.box1 {
  background-color: #e38826;
  width: 33%;
}

.box2 {
  background-color: #006970;
  width: 34%;
}

.box3 {
  background-color: #004241;
  width: 33%;
}

.box1,
.box2,
.box3 {
  padding: 30px 43px 30px 30px;
}

h1 {
  padding: 30px 0 20px 0;
}

p {
  padding-bottom: 40px;
  color: white;
  opacity: 0.7;
}

/* Styling the content (title and text) */

.style-title {
  color: white;
  font-style: normal;
  font-family: "Big Shoulders Display";
  font-weight: 700;
}

.style-text {
  font-size: 0.75rem;
  font-style: normal;
  font-family: "Lexend Deca";
  font-weight: 400;
}

/* Styling the buttons */

.button {
  border-radius: 20px;
  background-color: white;
  width: 110px;
  height: 35px;
}

.box1 .button {
  color: #e38826;
  border-color: #e38826;
  border-width: 2px;
}

.box2 .button {
  color: #006970;
  border-color: #006970;
  border-width: 2px;
}

.box3 .button {
  color: #004241;
  border-color: #004241;
  border-width: 2px;
}

.button:hover {
  background-color: transparent;
  color: white;
  border-color: white;
  border-width: 2px;
}

/* Media query for mobile responsive layout */

@media (max-width: 700px) {
  .flexbox-wrapper {
    margin: 250px auto;
  }
  .flexbox {
    display: flex;
    flex-direction: column;

    height: 1100px;
    width: 260px;

    border-radius: 5px;
    overflow: hidden;
  }
  .box1 {
    height: 33%;
  }
  .box2 {
    height: 34%;
  }
  .box3 {
    height: 33%;
  }
  .box1,
  .box2,
  .box3 {
    width: 100%;
    padding: 40px 40px 40px 40px;
  }
  p {
    padding-bottom: 10px;
  }
}

/* Footer */

.attribution {
  position: fixed;
  bottom: 5px;
  right: 5px;
  font-size: 0.75rem;
}
